h3.line-through {
    margin: 2rem auto;
    width: 40rem;
    font-size: 1.5rem;
}
form {
    width: 50rem;
    margin: 3rem auto;
}
    form *:not(.amendements *):not(summary) {
        width: 100%;
    }
    form .amendements {
        margin-bottom: 1rem;
    }
        form .amendements li {
            display: flex;
            align-items: baseline;
        }
            form .amendements input[type="checkbox"] {
                margin: .5rem 1rem .5rem 1rem;
                transform: scale(1.5);
            }
            form .amendements label {
                margin: .5rem 1rem .5rem 0;
                font-weight: normal;
            }
                form .amendements a {
                    text-decoration: underline;
                }
    form label {
        display: block;
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
    }
    form input[type="submit"] {
        text-align: center;
        margin: 1.5rem 0;
    }
    form input[type="submit"].enabled {
        width: 12rem;
    }
    form input[type="submit"]:not(.enabled) {
        width: 22rem;
    }
    form .buttons {
        text-align: right;
    }
        form .buttons.transfer-multiple-choices-custom {
            text-align: center;
        }
    form details,
    form > div {
        margin-bottom: 2rem;
    }
        form div.targets {
            margin-bottom: 0;
        }
    form summary,
    form div p {
        margin: 0 2rem 1rem 2rem;
        font-size: 1.3rem;
    }
form .item {
    width: auto !important;
}
.selectize-control {
    border: none;
    margin: 0;
    padding: 0;
    width: 15rem !important;
}
.notice {
    padding: 2rem;
}
.same-reponse div.form-group {
    margin-bottom: 3rem;
}
.same-reponse p {
    margin: 0;
    font-size: 1rem;
}

.form-group.avis,
.form-group.objet,
.form-group.reponse,
.form-group.comments {
    margin-bottom: 0 !important;
}

div.selectize-control.single div.item {
    max-width: 12rem;
}