{% extends "_base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
    {{ lecture }} • {{ lecture.dossier.titre }} • Signale
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('zam_repondeur:static/css/journal.css') }}">
{% endblock %}

{% block body %}
    {{ macros.msg_readonly(active, 0) }}

    <a href="{{ request.resource_url(context) }}" class="arrow-left">Retour</a>
    <h1>Journal des modifications</h1>
    <div class="title-extras">
        {{ article.format() }}
    </div>
    {{ macros.timeline(article.events, today) }}
{% endblock %}
