{% extends "_base_dossier_liste.html" %}
{% import "macros.html" as macros %}

{% block titre_dossiers %}
    Dossiers législatifs archivés
{% endblock %}

{% block link_dossiers %}
    <a href="{{ request.resource_url(context) }}">
        Liste des dossiers
    </a>
{% endblock %}

{% block empty_message %}
    <h3>Aucun dossier législatif archivé pour l’instant.</h3>
{% endblock %}

{% block pagination_block %}
    {% if affichage_pagination_dossiers %}
        {{ macros.pagination(request.resource_url(context, 'archives'),  pagination_data) }}
    {% endif %}
{% endblock %}

{% block boutons_dossiers %}
    {% if not request.user.is_admin %}
        <div class="box box_contacts">
            <p>Si votre dossier législatif ne figure pas dans la liste, veuillez :</p>
            <a class="button primary link" href="{{ request.resource_url(context, 'demande_invitation_archives') }}">
                Demander à participer à un dossier législatif
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block news_back_url %}
    <input type="hidden" id="back" name="back" value="{{ request.resource_url(context, 'archives') }}" />
{% endblock %}